<ion-view view-title="iCars">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="{{item.logo}}">
        <h2>{{item.model}}</h2>
        <p>{{item.dealer}}, {{item.address}}, {{item.city}}</p>
      </div>

      <div class="item item-image">
        <img src="{{item.image}}">
      </div>

      <div class="item">
        <h3>Rental price</h3>
        <p>{{item.price}} per day</p>
      </div>
    </div>
  </ion-content>
</ion-view>
