<ion-view view-title="Locations">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
      ng-repeat="location in locations" type="item-text-wrap" href="#/tab/locations/{{location.id}}">
      <img ng-src="{{location.image}}">
        <h2>{{location.city}}</h2>
        <p>{{location.dealership}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(location)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
