<ion-view view-title="iCars">
  <ion-content class="padding-horizontal">

    <!-- Tesla -->
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/tesla.png">
        <h2>Tesla Model S</h2>
        <p>January 28, 2015</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/model-s.jpg">
        <p>
          Tesla’s advanced electric powertrain delivers exhilarating performance. Unlike a gasoline internal combustion engine with hundreds of moving parts, Tesla electric motors have only one moving piece: the rotor. As a result, Model S acceleration is instantaneous, silent and smooth. Step on the accelerator and in as little as 3.4 seconds Model S is traveling 100 km per hour, without hesitation, and without a drop of gasoline. Model S is an evolution in automobile engineering.
        </p>
        <p>
          <a href="#" class="subdued">34 Likes</a>
          <a href="#" class="subdued">19 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>

    <!-- BMW -->
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/bmw.png">
        <h2>BMW 1 Series Coupe</h2>
        <p>January 27, 2015</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/1-series.jpg">
        <p>
          The BMW 1 Series Coupé stands for emotion, adrenaline and intensity. Concentrated dynamics spring to life when the muscular engines release their power. The choice between the straight six-cylinder petrol engine in the BMW 125i and BMW 135i, the four-cylinder petrol engine in the BMW 120i or the four-cylinder diesel engine in the BMW 118d, BMW 120d and BMW 123d is yours. 
          </p>
          <p>
          <a href="#" class="subdued">75 Likes</a>
          <a href="#" class="subdued">28 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>

    <!-- Mazda -->
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/mazda.png">
        <h2>Mazda Shinari Concept</h2>
        <p>January 27, 2015</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/shinari.jpg">
        <p>
            The Shinari design concept car is the first vehicle to feature the Mazda's new global design language Kodo, or the 'Soul of Motion'. Kodo is a new design philosophy that aims to capture the exact moment when movement starts.
          <p>
          <a href="#" class="subdued">108 Likes</a>
          <a href="#" class="subdued">52 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
